name: UI Tests (Selenium)

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      HEADLESS: "true"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Show Chrome version
        run: google-chrome --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Selenium tests
        run: pytest -q
